body {
    background-color: bisque;
    width: 100%;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    background-color: aliceblue;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 500px;
    height: auto;
}